apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: ark-controller
    app.kubernetes.io/name: ark
    app.kubernetes.io/managed-by: kustomize
  name: ark
  namespace: system
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
  selector:
    control-plane: ark-controller
    app.kubernetes.io/name: ark
